Src/Black.Beard.Oracle.Reader/Schemas/Generators.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
	This code was generated by a tool.
	Changes to this file may cause incorrect behavior 
	and will be lost if the code is regenerated.
</auto-generated>
-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="generatorsSection" type="GeneratorsSectionCT" />
	<xs:complexType name="GeneratorsSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="projects" type="ScriptProjectCollectionCT">
				<xs:annotation>
					<xs:documentation><![CDATA[Projects]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[Enabled]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ScriptCollectionCT">
		<xs:sequence>
			<xs:element name="remove" minOccurs="0" maxOccurs="unbounded" >
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required" />
					<xs:anyAttribute namespace="http://schemas.microsoft.com/XML-Document-Transform" processContents="strict"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="clear" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<!--tag is empty-->
					<xs:anyAttribute namespace="http://schemas.microsoft.com/XML-Document-Transform" processContents="strict" />
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="script" type="ScriptElementCT">
				<xs:annotation>
					<xs:documentation><![CDATA[Item]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScriptElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="path" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[Path]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[Enabled]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extension" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[Extension]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="notGenerateIfExists" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[Not Generate If Exists]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="outputPath" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[Output Path]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="notAddOuput" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[Not Add Ouput]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ScriptProjectCollectionCT">
		<xs:sequence>
			<xs:element name="remove" minOccurs="0" maxOccurs="unbounded" >
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required" />
					<xs:anyAttribute namespace="http://schemas.microsoft.com/XML-Document-Transform" processContents="strict"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="clear" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<!--tag is empty-->
					<xs:anyAttribute namespace="http://schemas.microsoft.com/XML-Document-Transform" processContents="strict" />
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="project" type="ScriptProjectElementCT">
				<xs:annotation>
					<xs:documentation><![CDATA[Item]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScriptProjectElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="scripts" type="ScriptCollectionCT">
				<xs:annotation>
					<xs:documentation><![CDATA[Scripts]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[Name]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[Enabled]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
